
@font-face{
  font-family: "lexie";
  src: url("../fonts/lexie.ttf");
}

#link_panel{
  text-align: center;
}

#intro{
  font-size: 23px;
  width: 82%;
  margin: auto;
  margin-bottom:32px;
  margin-top:32px;
  background-color: white;
  border-radius:23px;
  padding: 22px;
}

#intro:first-letter{
  font-size: 32px;
  font-weight: bolder;
}

#capcelera{
  display: flex;
  margin:0.5%;
  margin-bottom: 2%;
  margin-top: 22px;
  justify-content: center;
  
}



#container_targetes{
  margin-top: 34px;
  padding: 12px;
  background-image: url("../imatges/llibreta.jpg");
  width: 70%;
 transform: rotate(-3deg);
  padding-left: 24px;
  margin-left: 10%;
  box-shadow: 6px -4px rgba(0,0,0,0.1);
}
#titol_targetes{
  margin-bottom: 32px;
  font-size: 40px
}

#select_peixera, #capcelera a{
  width: 20%;
  margin: 2px;
    height: 52px  
}

#capcelera a{
  margin-right:  10%;
  padding-top: 12px;
}




body{
  
  font-family:"lexie";
  font-size: 170%;
  
  
}


h4{
  text-align: center;
  
}

body{
  background-color: lightblue;
}


#barra_superior{
  background-color: white;
  padding: 12px;
  height: 73px;
}

a{
  text-decoration: none;
  color:black;
  font-weight: bold;
  
}

#barra_dreta{
  text-align: center;
}


   
  #barra_superior{
     text-align: right;
      border-bottom: 3px solid black;
   }
  #barra_superior img{
     width: 20%;
    margin-right: 2%
   }
   
   li{
     text-align: center;
     list-style: none;
     height: 100%;
      width: 72%;
     margin:auto;   
   }
   


   #canvas{
     width: 1200px;
     height: 600px;
     border-bottom-right-radius: 30px;
     border-bottom-left-radius: 30px;
     border-left: 3px solid black;
     border-right: 3px solid black;
     border-bottom: 3px solid black;
   }
   

   
    









.fons_ca{
  background-color: red;
}

#quisoc{
  text-align: center;
  margin-top: 12px;
  font-size: small;
  font-weight: bold;

}



.targeta_peix{

  justify-content: center;
  margin: 12px;
  text-align: center;
  width: 60%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid black;
    
}
.targeta_peix_imatge{
  width: 50%;
}

.targeta_peix_text{
  font-size: 22px;
}

h3{
  text-align: center;
  margin-bottom:  12px;
  margin-top: 12px;
}

#numero_peixera{
  margin-top: 67px;
  background-color: white;
  width: 320px;
  text-align:center;
  margin-left: 6%;
   transform: rotate(-2deg);
}
#panell_menjar{
  font-size: 23px;
  color:black;
  margin-left: 5%;
  background-color: #ad6914;
  width: 23%;
  border-radius: 32px;
}

#panell_menjar:hover{
  color:black;
  background-color: orange;
}


#panell_menjar img{
  width: 25px;
  margin-right: 12px;
  margin-bottom: 12px;
}

table{
  
  margin: auto;
  margin-top:1%;
  width: 90%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 12px;
}

td{
  background-color: white;
  border-radius: 12px;
  
}

td {
  margin: 21px;
  padding: 4px;
}

h1{
   margin-top:1%;
  text-align: center;
}