
@font-face{
  font-family: "lexie";
  src: url("../fonts/lexie.ttf");
}

:root {
  --fons_pagina: #d8e6ad;
  --fons_capcellera : #e6bbad;
  --fons_container : lightblue;
  --fons_footer:#e6bbad;
    
}

html{
   overflow-x:hidden;
}

#logos{
  margin-left: 20%;
}

#intro{
  font-size: 23px;
  width: 82%;
  margin: auto;
  margin-bottom:32px;
  margin-top:32px;
  background-color: white;
  border-radius:23px;
  padding: 22px;
}

#intro:first-letter{
  font-size: 32px;
  font-weight: bolder;
}

#capcelera{
  display: flex;
  margin-bottom: 2%;
  justify-content: center;
  
}



#container_targetes{
  margin-top: 34px;
  padding: 12px;
  background-image: url("../imatges/llibreta.jpg");
  width: 70%;
 transform: rotate(-3deg);
  padding-left: 24px;
  margin-left: 10%;
  box-shadow: 6px -4px rgba(0,0,0,0.1);
}
#titol_targetes{
  margin-bottom: 32px;
  font-size: 40px
}

#select_peixera, #capcelera a{
    
  width: 20%;
  margin: 2px;
    height: 52px;
  margin-top: 22px;
}

#capcelera a{
  margin-right:  10%;
  padding-top: 12px;
}




body{
  
  font-family:"lexie";
  font-size: 170%;
  
  
}


h4{
  text-align: center;
  
}

body{
  
  background-color: var(--fons_pagina);
    
}


#barra_superior{
  background-color: var(--fons_capcellera);
  padding: 12px;
  height: 73px;
}
#logos img{
   width: 200px;
}
#logos{
   background-color: var(--fons_capcellera);
  display: flex;
 
}
#logodreta, #logoesquerra{
  width: 50%;
  margin-bottom: 12px;
}


a{
  text-decoration: none;
  color:black;
  font-weight: bold;
  
}

#barra_dreta{
  text-align: center;
  background-color: var(--fons_container);
  width: 95%;
  margin: auto;
  box-shadow: 6px 5px 5px rgba(0,0,0,0.3),
             -6px 5px 5px rgba(0,0,0,0.3);
}

#logos_capcelera{
  text-align: left;
  width: 60%;
  margin-left: 2%;
}
   
  #barra_superior{
    display: flex;
     text-align: right;
      border-bottom: 3px solid black;
   }
  #barra_superior img{
     width: 20%;
    margin-right: 2%
   }
   
#logo_peixos{
  position: absolute;
  margin-left: 80%;
  height: 100px;
  width: 100px;
}

   li{
     text-align: center;
     list-style: none;
     height: 100%;
      width: 72%;
     margin:auto;   
   }
   


   #canvas{
     width: 1200px;
     height: 600px;
     width: 90%;
     height: 90%;
     border-bottom-right-radius: 30px;
     border-bottom-left-radius: 30px;
     border-left: 3px solid black;
     border-right: 3px solid black;
     border-bottom: 3px solid black;
   }
   

.targeta_peix{

  justify-content: center;
  margin: 12px;
  text-align: center;
  width: 60%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid black;
    
}
.targeta_peix_imatge{
  width: 50%;
}

.targeta_peix_text{
  font-size: 22px;
}

h3{
  text-align: center;
  margin-bottom:  12px;
  margin-top: 12px;
}

#numero_peixera{
  margin-top: 67px;
  background-color: white;
  width: 320px;
  text-align:center;
  margin-left: 6%;
   transform: rotate(-2deg);
}
#panell_menjar{
  margin-top:-50px;
  font-size: 23px;
  color:black;
  margin-left: 5%;
  background-color: #ad6914;
  width: 23%;
  height: 50px;
  border-radius: 32px;
}

#boto_fullscreen img{
  width: 23px;
  filter: invert(1);
}


#boto_fullscreen{
  position:relative;
  top:-64px;
  color:white;
  margin-left:  90%;
  background-color: black;
  width: 43px;
  height: 45px;
  border-radius: 12px;
  border:2px solid white;
}

#boto_fullscreen:hover{
background-color: darkgray;
}



#panell_menjar:hover{
  color:black;
  background-color: orange;
}


#panell_menjar img{
  width: 25px;
  margin-right: 12px;
  margin-bottom: 12px;
}

table{
  
  margin: auto;
  margin-top:1%;
  width: 90%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 12px;
}

td{
  background-color: white;
  border-radius: 12px;
  
}

td {
  margin: 21px;
  padding: 4px;
}

h1{
   margin-top:1%;
  text-align: center;
}

#temps{
  font-size: 17px;
}

#peu{
  margin-top: 1%;
  background-color: var(--fons_footer);
  color:white;
  border-top:3px solid black;
  

}
#peu a{

  color:black;
  font-size: 14px;
}
#quisoc{
  margin-left: 27%;
  margin-right: 20%
}

#imatge_peu {
  width: 12%;
  margin-top: 12px;
  margin-left: 42%;

  filter: drop-shadow(2px 2px  white) 
          drop-shadow(-2px -2px  white);
 
}

.container_gana{
  background-color: gray;
  height:40px;
  width: 30%;
  margin: auto;
  display:flex;
}

#emo{
  margin-right:   -1200px;
  font-size: 33px;
}

.barra_gana{
  height: 40px;
  margin-right: 12px;
}

#label_gana{
  margin-top: 42px;
}

#temps{
  margin-top:22px;
}

#llicencia{
  border-radius: 12px;
  padding: 12px;
  margin: 12px;
  font-size:medium;
  padding-inline:  102px;
  text-align: center;
  background-color: var(--fons_footer)
  
}

@media (max-width: 800px) {
  
  .targeta_peix{
    width: 90%;
    font-size:23px;
    margin-left: -23px;
  }
  #temps{
  margin-top:2px;
}
  #label_gana{
  margin-top: 12px;
}

  .targeta_peix img{
    width: 100%
  }
  #container_targetes{
    width: 90%
  }
  #panell_menjar{
    width: 70%;
    margin: auto;
  }
  #capcelera{
    display:grid
  }
  #select_peixera{
    margin: auto;
    width: 80%;
    margin-top: 12px;
  }
  #capcelera a{
    width: 100%;
    display: none;
  }
  
  #numero_peixera{
    margin:auto;
    margin-top:12px;
    width: 94%;
    
  }
  #canvas{
    margin: auto;
    width: 100%;
  }
  
  #barra_superior img{
    width: 50%;
    margin:auto;
  }
  #peu img{
    width: 50%;
    margin-left: 22%
  }
  #quisoc,#panell{
    margin: 4px
  }
  #quisoc{
   margin-left: 10px;

  }

  #links_footer{
    display:flex;
  }
  #links_footer a{
    margin:auto;
  }
  #links_footer a{

    font-size:13px;
  }

  #barra_superior img{
    width: 130px;    
  }
  
  #logo_peixos{  
  position: absolute;
  top:43px;
  left: 37%;  
  height: 60px;
}
  #logos{
  margin-left:0px;
}
  #logos_capcelera {
   display: flex;
    margin: auto;
   
  }
  #logos_capcelera img {
  padding: 6px;  
   
  }
  
  #boto_fullscreen{
  position:relative;
  top:-64px;
  color:white;
  margin-left:  85%;
  background-color: black;
  width: 43px;
  height: 40px;
  border-radius: 12px;
}
  
  
  
}

body{
   overflow-x: hidden;
}