.widget{
  margin-top: 2%;
  margin-left: 33%
}

#container{
  margin-top: 2%;
  margin-left: 5%
}

h1{
  text-align: center;
}

.envia{
  width: 80%;
  margin-top: 12px;
  margin-left: 5%;
  margin-bottom:  12px;
}

.widget{
  background-color: lightblue;
  border-radius: 12px;
  padding: 12px;
  padding-left :4%;
  padding-right: 4%;
  width: 33%;
}

label{
  margin-top: 12px;
}

