#barra_esquerra{
  width: 30%;

  border-radius: 12px;
  
}

h3{
  text-align: center;

}

ul{
   list-style:none;
}

li{
  margin-top: 12px; 
}

.contenidor_peix{
 
  background-color: lightblue;
  border-radius: 12px;
  padding: 12px;
  margin: 12px;
   margin-left: 102px;
  width: 65%
}
#vista{
  display: flex;
}

.img_peix{
  width: 70%;
  margin-left: 12%
}





.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: lightseagreen; /* Add a green color to the "active/current" link */
  color: white;
}

.btn{
  margin: 3px;
  margin-top: 6px
}


.noesveu{
  background-color: lightseagreen;
}

#peu{
  margin-top: 1%;
  background-color: lightseagreen;
  color:white;
  border-top:3px solid black;
  

}
#peu a{
  text-decoration: none;
  font-weight: bold;
  color:black;
  font-size: 14px;
}
#quisoc{
  margin-left: 27%;
  margin-right: 20%
}

#imatge_peu {
  width: 12%;
  margin-top: 12px;
  margin-left: 42%;

  filter: drop-shadow(2px 2px  white) 
          drop-shadow(-2px -2px  white);
 
}

table{
  margin-left: 5%;
}

#barra_superior{
  background-color: lightseagreen;
  padding: 12px;
  height: 73px;
}
  #barra_superior{
     text-align: right;
      border-bottom: 3px solid black;
   }
  #barra_superior img{
     width: 20%;
    margin-right: 2%
   }



